section {
  position: relative;
  background: hsl(var(--hue, 0), 75%, 85%);
  margin: 20px 10px;
  min-height: 300vh;

  &:nth-child(even) {
    --hue: 200;
  }
}

.lottie-animation {
  width: 50%;
  position: sticky;
  top: 0;
}