section {
  display: flex;
  position: relative;
  background: hsl(var(--hue, 0), 75%, 85%);
  margin: 20px 10px;
  min-height: 150vh;

  &:nth-child(even) {
    --hue: 200;
  }
}

.lottie-animation {
  width: 50vh;

  &--sticky {
    position: sticky;
    top: 0;
    height: 100%;
    margin: 0 auto;
  }
}